<div class="info">
    <div class="grif-info">
        <div class="info-1">
            <%= image_tag 'simple-icon.png', class: 'icon' %>
            <p class="local-info">Rua: Lorem episum 1414, Centro | Naviraí - ms</p>
            <%= image_tag 'Icon-phone.png', class: 'icon-phone' %>
            <p class="fone-info">(67) 3442 - 4000</p>
        </div>
        <div class="info-2">
            <%= image_tag 'image2.png', class: 'img-info' %>
        </div>
        <div class="info-3">
            <div class="face"><%= image_tag 'face.png', class: "centro" %></div>
            <div class="insta"><%= image_tag 'Insta.png', class: "centro" %></div>
            <div class="yout"><%= image_tag 'Yout.png', class: "centro" %></div>
        </div>
    </div>

    <div class="devs">
        <div class="grid-devs">
            <div class="dev1"><h5>Deselvolvido por: </h5></div>
            <div class="dev1"><%= image_tag 'f5.png', class: "centro" %></div>
            <div class="dev1"><%= image_tag 'w3.png', class: "centro" %></div>
        </div>
    </div>
</div>