 <section>
    <%= render 'main-slider'%> 
    <%= render 'causes-section'%> 
    <%= render 'about-section'%>   
    <%= render 'dates-section'%>
    <%= render 'events-section'%>
    <%= render 'bg-paroquias'%> 
    <%= render 'bg-info'%> 
    <%= render 'bg-links'%> 
</section>

<footer>
    <%= render 'footer'%>
</footer>