
<section>
<div class="main-slider" >
        
    <div class="fature">
        <!-- START THE FEATURETTES -->

        
        <div class="row featurette">
        <div class="col-md-5">
            <h2 class="featurette-heading fw-normal lh-1"><%= Blog.find(1).title%></h2>
            <p class="blog-txt"><%= Blog.find(1).body%></p>
        </div>
        <div class="col-md-7">
            <%# <%=image_tag Section.find(1).url_url, class:"bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto  width:500 height:500 " %> 
                <%=image_tag  Blog.find(1).url_url, class:"img-blog" %>
            
        </div>
        </div>

        
        <div class="row featurette">
        <div class="col-md-5 order-md-2">
            <h2 class="featurette-heading fw-normal 1h-1"><%= Blog.find(2).title%></span></h2>
            <p class="blog-txt"><%= Blog.find(2).body%></p>
        </div>
        <div class="col-md-5 order-md-1">
            <%=image_tag  Blog.find(2).url_url, class:"img-blog" %>
        </div>
        </div>

        
        <div class="row featurette">
        <div class="col-md-5">
            <h2 class="featurette-heading fw-normal 1h-1"><%= Blog.find(3).title%></span></h2>
            <p class="blog-txt"><%= Blog.find(3).body%></p>
        </div>
        <div class="col-md-5">
            <%=image_tag  Blog.find(3).url_url, class:"img-blog" %>
        </div>
        </div>


        <hr class="featurette-divider">
        
        <!-- /END THE FEATURETTES -->

    </div>

</div>

</section>

